*{
    font-family: 'Poppins', sans-serif;
}

video{
    width: 100vw;
    height: 100vh;
}
.custom_nav{
    border: 1px solid rgb(27, 95, 39);
    border-radius: 4px;
    margin: 0 10px!important;
    background-color: #0dcd4dc1;
    transition: 0.5s ease;
    padding: 0 12px;
    display: inline-block;
}
.logo{
    color: #fff;
    text-transform: uppercase;
}
.custom_nav:hover{
    background-color: transparent;
}
.custom_nav:hover .nav-link{
    color: #0dcd4d;
    border: rgb(0, 255, 85);
}
.nav-link{
    color: rgb(252, 247, 248);
    text-transform: uppercase;
}
.vid-parent{
    position: relative;
    width: 100%;
}
.vid-overlay{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #4512fd;
        z-index: 1;
        opacity: 0.7;
}
.vid-content{
        position: absolute;
        z-index: 2;
        top: 35%;
        left:35%;
        text-align: center;
 }
 .cards__section{
     background: rgb(255, 255, 255);
 }


 .card_client{
     width: 400px;
     border: 1px solid #9e9d9d;
     padding: 15px!important;
     border-left: 4px solid rgb(1, 25, 11);
     background: #0dcd4d;
     border-radius: 5px;
 }
.card_text{
     font-style: italic;
     font-size: 15px;
     text-align: justify;
}
.client_img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid rgb(11, 11, 11);
}
.our_client{
    display: flex;
    justify-content: space-between;
}
.foot_link{
     color: #fff;
 }
label{
    font-size: 18px!important;
    padding-top: 10px;
}
#sucMsg1,#sucMsg2,#sucMsg3,#sucMsg4{
    font-size: 14px;
    font-weight: 300;
}
li {
    list-style: none;
}
.foot_list, .foot_icons{
    margin: 0;
    padding: 0;
}
.footer{
    padding-bottom: 0!important;
    background-color: #0dcd4d;
}
.footer-copyright{
    background: linear-gradient(to bottom, #000, #222);
}

/* malumot */
.kurs_blog{
    position: relative;    
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 10px;
   

}
.card__add{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 221, 20, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 0.5s ease;
    color: #fff;
    font-size: 25px;
}
p{
    margin: 0 !important;
}
.card_malumot{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kurs_malumot:hover .card__info{
    transform: translateY(100%);
}
.kurs_malumot:hover .card__add{
    transform: translateY(0);
}
.kurs_image{
    width: 100%;
    height: 100%;
    max-width: 300px;
    min-height: 300px;
    object-fit: cover;
}
.card__info{
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease;
    background: linear-gradient(to top, rgb(8, 95, 8), rgb(20, 221, 20));
    padding: 15px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-top-right-radius: 10px;

}
.card_title{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 10px rgb(3, 4, 3);
    margin: 0!important;
    padding: 0!important;
    font-weight: 700;
    font-size: 22px;
}
.indiBar{
    width: 10%;
    height: 3px;
    position: fixed;
    z-index: 996;
    top: 58px;
    background-color: rgb(34, 235, 7);
    box-shadow: 0 2px 12px 2px rgb(28, 219, 7);
}
.drMenu{
    position: relative;
    display: inline-block;
    transition: 0.7s linear;
}
.dropdow-menu{
    display: flex;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: rgb(255, 255, 255);
    min-width: 150px;
    border-radius: 6px;
    z-index: 200;
}
.dropdow-menu ul li:hover{
    background-color: rgba(0, 8, 255, 0.881);
    color: #fff;
}
.dropdow-menu ul li:hover .drLink{
    color: #fff;
    text-decoration: none;
}
.dropdow-menu{
    padding: 0 !important;
    margin: 0 !important;
    display: none;
    flex-direction: column;
    
}
.dropdow-menu::before{
    content: '';
    width: 20px;
    z-index: -1;
    height: 20px;
    background-color: rgb(253, 253, 253);
    display: block;
    right: 10px;
    top: -7px;
    position: absolute;
    transform: rotate(45deg);
}
.dropdow-menu ul{
    margin: 0 !important;
    padding: 0 !important;
}
.dropdow-menu ul li{
    padding: 5px 10px;
}

a{
    text-decoration: none;
}
.drMenu:hover .dropdow-menu{
    transition: 0.7s ease;
    display: block;
}
.lang_uz img{
    width: 25px;
}
.lang{
    padding-right: 100px;
}

.popup{
    background-color: rgba(0, 0, 0, 0.779);
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
.popup-content{
    width: 60%;
    background-color: red;
    height: 70%;
    position: relative;
}
.popup-content img{
    width: 100%;
    height: 100%;
}
.close{
    top: -40px;
    color: #fff;
    right: -40px;
    position: absolute;
    padding: 5px 8px;
}

/* pricing */
.pricing-table{
    background-color: #eee;
    font-family: 'Montserrat', sans-serif;
  }
  
  .pricing-table .block-heading {
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center; 
  }
  
  .pricing-table .block-heading h2 {
    color: #4dbe3b;
  }
  
  .pricing-table .block-heading p {
    text-align: center;
    max-width: 420px;
    margin: auto;
    opacity: 0.7; 
  }
  
  .pricing-table .heading {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  
  .pricing-table .item {
    background-color: #ffffff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    border-top: 2px solid #0dcd4d;
    padding: 30px;
    overflow: hidden;
    position: relative; 
  }
  
  .pricing-table .col-md-5:not(:last-child) .item {
    margin-bottom: 30px; 
  }
  
  .pricing-table .item button {
    font-weight: 600; 
  }
  
  .pricing-table .ribbon {
    width: 160px;
    height: 32px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
    background: #4dbe3b;
    transform: rotate(45deg);
    position: absolute;
    right: -42px;
    top: 20px;
    padding-top: 7px; 
  }
  
  .pricing-table .item p {
    text-align: center;
    margin-top: 20px;
    opacity: 0.7; 
  }
  
  .pricing-table .features .feature {
    font-weight: 600; }
  
  .pricing-table .features h4 {
    text-align: center;
    font-size: 18px;
    padding: 5px; 
  }
  
  .pricing-table .price h4 {
    margin: 15px 0;
    font-size: 25px;
    text-align: center;
    color: #0dcd4d; 
  }
  .pricing-table .price h4 span{
      font-size: 15px;
  }
  .pricing-table .buy-now button {
    text-align: center;
    margin: auto;
    font-weight: 600;
    padding: 9px 0; 
  }