:root{
    --asosiy-bg-rang: #8bdfa5;
    --ikkinchi-bg-rang: #52796f;
    --ikkinchi-yozuv: #ddbea9;
    --asosiy-yozuv: #ee6c4d;

}
*{
    font-family: 'Poppins';
    box-sizing: border-box!important;
}
.primary-text{
    color: #0dcd4d;
}
.primary-bg{
    background-color: var(--asosiy-bg-rang);
}
.second-text{
    color: var(--ikkinchi-yozuv);
}
.second-bg{
    background-color: var(--ikkinchi-bg-rang);
}
#table_id{
    /* background-color: #f4ab4f !important; */
}
.second-bG{
 background: #eceff1;
}
.rounded-full{
    border-radius: 100%;
}
.dtsb-logicContainer{
    transform: rotate(270deg)!important;
}
#wrapper{
    overflow-x: hidden;
    background: #0dcd4d;
}
#sidebar-wrapper{
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}
#sidebar-wrapper .sidebar-heading{
    padding: 0.4rem;
    font-size: 1.2rem;
}
#sidebar-wrapper .list-group{
    width: 15rem;
}
#page-content-wrapper #sidebar-wrapper{
    margin-left: 0;
}
#menu-toggle{
    cursor: pointer;
}
#tepaAdmin{
    display: flex;
    justify-content: space-around;
    align-items: start;
}
.list-group-item{
    border: none;
    padding: 12px 20px;
}

.side_link{
    color: #14b670;
    font-size: 20px;
    font-weight: 300;
    width: 85%;
    transition: .3s linear;
}
.side_link.active{
    background: linear-gradient(to top, #0dcd4d, #26f46b);
    color: #ffffff;
    border-top-right-radius: 10px;
    width: 98%;
    border-bottom-right-radius: 10px;
    text-shadow: 0 0 8px #000;
}
.side_link:hover{
    background-color: #0dcd4d!important;
    color: #ffffff;
    width: 100%;
}
.side_link i{
    margin-right: 15px;
}
@media (min-width: 700px){
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper{
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper{
        margin-left: -15rem;
    }
}

.infoList li{
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px 0;
    padding-left: 20px;
}
.infoList li span{
    font-weight: 700;
}
table tr td{
    padding: 5px!important;
    top: 50%;

}
.modalBac{
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(2px);
}
input::placeholder{
    font-weight: 300;
}

.modalStyle input {
    background: transparent!important;
}
.devType, .thKurs{
    width: 220px;
}
.thHolat{
    width: 40px;
}
